main{
	margin:0 auto; /* permet de centrer la page*/
	width: 55%;
}


nav
{
	width : 150px ;
	border : 1px solid blue ;
	vertical-align : top;
	display: inline-block;
}
.image{
	text-align: center;
}

section{
	border : 1px solid blue ;
	text-align: center;
	display: inline-block;
}
#sect1{
	width:350px;
	margin-left:110px;
}
#sect2{
	vertical-align: top;
	margin-left:53px;
	width:30%;
}
header{
	text-align: center;
}
footer{
	text-align: center;
}