main{
	margin:0 auto; /* permet de centrer la page*/
	width: 55%;  
}


nav
{
	width : 150px ;
	border : 1px solid blue ;
	vertical-align: top;
}
section
{
	border : 1px solid blue ;
	width: 55%;
	text-align: center;
	position: relative;
bottom : 115px;
	left : 220px;

}



header{

	text-align: center;

}
footer{
	text-align: center;
	margin-bottom : 150px;
}